@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #171717;
}

.wrapper {
  margin: 10px;
}

.wrapper .top_navbar {
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  position: fixed;
  top: 0px;
}

.wrapper .top_navbar .hamburger {
  width: 70px;
  height: 100%;
  background: #0c0e13;
  padding: 0px 0px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper .top_navbar .hamburger div {
  width: 35px;
  height: 4px;
  background: #544d97;
  margin: 8px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .top_menu {
  width: calc(100% - 70px);
  height: 100%;
  background: #0c0e13;
  border-top-right-radius: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .top_navbar .top_menu .logo {
  color: #544d97;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

.wrapper .top_navbar .top_menu ul {
  display: flex;
}

.wrapper .top_navbar .top_menu ul li a {
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #2e4ead;
  border-radius: 50%;
  color: #544d97;
}

.wrapper .top_navbar .top_menu ul li a:hover {
  background: #4360b5;
  color: #7890df;
}

.wrapper .top_navbar .top_menu ul li a:hover i {
  color: #fff;
}

.wrapper .sidebar {
  position: fixed;
  top: 60px;
  left: 0px;
  background: #0c0e13;
  width: 200px;
  height: calc(100% - 80px);
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
}

.wrapper .sidebar ul li a {
  display: block;
  padding: 20px;
  color: #fff;
  position: relative;
  margin-bottom: 1px;
  color: #544d97;
  white-space: nowrap;
}

.wrapper .sidebar ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #92a6e2;
  display: none;
}

.wrapper .sidebar ul li a span.icon {
  margin-right: 10px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title {
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  background: #4360b5;
  color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
  display: block;
}

.wrapper .main_container {
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper .main_container .item {
  background: rgba(72, 7, 85, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
  color: white;
  text-align: center;
}

.wrapper.collapse .sidebar {
  width: 70px;
}

.wrapper.collapse .sidebar ul li a {
  text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon {
  margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title {
  display: none;
}

.wrapper.collapse .main_container {
  width: (100% - 70px);
  margin-left: 70px;
}

.collapsible {
  background-color: #544e98;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  background: rgba(72, 7, 85, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.block {
  display: block;
  color: white;
  width: 100%;
  border: none;
  background-color: #544e98;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 20px;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background: #4360b5;
}
